<div class="col-md-4">
  <div class="panel panel-primary widget"> 
    <div class="panel-heading" role="tab" id="headingOne"> 
      <h4 class="panel-title"> 
      Current Auction
      </h4> 
    </div> 
    <form name="vm.auctionForm" class="" ng-submit="vm.ok()">
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> 
        <div class="panel-body">
          <p ng-if="vm.bid==null">No current present</p> 
          <div class="col-md-12">
            <div class="col-md-6">
              <span class="glyphicon glyphicon-file" style="font-size:70px;"></span>
              </div>
              <div class="col-md-6">
              Quantity<br/><br/>{[{vm.bid.quantity}]}
              </div>
          </div> 

          <p>Time Left: {[{vm.timer}]}</p> 
          <p>Minimum Bid: {[{vm.bid.min_amount}]}</p>
          <p>Winning Bid: {[{vm.bid.final_amount}]}</p>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="number"  ng-model="vm.amount" class="form-control" placeholder="Min Bid amount(Ex. 500)" required>
          </div>
          <button class="btn btn-lg btn-default btn-block submit-btn" type="submit" ng-click="vm.placeBid()">Place Bid</button>   
      </div>
    </form>
</div>