<div class="col-md-4">
  <div class="panel panel-primary widget"> 
    <div class="panel-heading" role="tab" id="headingOne"> 
      <h4 class="panel-title"> 
      Current Auction
      </h4> 
    </div> 
    <form name="vm.auctionForm" class="" >
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> 
        <div class="panel-body">
          <p ng-if="vm.bid==null">No current present</p> 
          <section ng-if="vm.bid">
            <p>Seller : {[{vm.bid.user.username}]}</p> 
            <div class="col-md-12">
              <div class="col-md-6">
                <span class="glyphicon glyphicon-file" style="font-size:70px;"></span>
                </div>
                <div class="col-md-6">
                Quantity<br/><br/>{[{vm.bid.quantity}]}
                </div>
            </div> 

            <p>Time Left: {[{vm.timer}]} seconds</p> 
            <p ng-if="vm.bid.final_amount==0">Minimum Bid: {[{vm.bid.min_amount}]} $</p>
            <p ng-if="vm.bid.final_amount>0">Winning Bid: {[{vm.bid.final_amount}]} $</p>
            <div class="form-group" ng-init="vm.finalMin = (vm.bid.final_amount > vm.bid.min_amount) ? vm.bid.final_amount : vm.bid.min_amount">
              <input name="amount" type="number" min="{[{vm.bid.finalMin}]}" ng-model="vm.amount" class="form-control" placeholder="Min Bid amount(Ex. 500)" required> 
              <div class="help-inline">
                <span>Shoud be greater then Min/Current Bid.</span>
              </div>
            </div>
            <button class="btn btn-lg btn-default btn-block submit-btn" type="submit" ng-disabled="vm.finalMin>vm.amount || vm.bid.user.id == vm.user_id" ng-click="vm.placeBid()">Place Bid</button> 
          </section>  
      </div>
    </form>
</div>